.otpBox {
    font-family: sans-serif;
    text-align: center;
    height: calc(100% - 120px);
  }
  .otpBoxText {
    margin-top: 40px;
    font-size: 32px;
    font-weight: 800;
  }
  .otp-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  
  /* .input {
    width: 50px;
    height: 30px;
  } */
  .input-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 80px;
    height: 40px;
    margin-right: 20px;
    border: 2px solid black;
    color: darkgreen;
    font-size: 20px;
    font-weight: 600;
  }
 
  