.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inputBox {
  /* height: 20px; */
  padding: 20px;
  border: 1px solid gray;
  font-size: 16px;
  width: 400px;
  margin-top: 20px;
}

.product {
  border: 1px solid red;
  width: 400px;
  padding: 20px;
  font-size: 16px;
}
